<section class="hero is-info">
  <div style="text-align:center">
    <h1>{{ title }}</h1>
    <h2>List of Stand Ups for {{ username }}:</h2>
  </div>

  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-4" *ngFor="let standup of standups">
        <a routerLink="../standup/{{ standup.id }}">
          <div class="card">
            <div class="card-content">
              <div (click)="standupClicked(standup)">
                {{ standup.date | date: 'mediumDate'}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <hr>
  <button class="button is-danger is-large" *ngIf="selectedStandup.id" (click)="updateStandup()">Update</button>
  <button class="button is-danger is-large" (click)="createStandup()">Create</button>
  <button class="button is-danger is-large" *ngIf="selectedStandup.id" (click)="deleteStandup()">Delete</button>
</section>
