<section class="hero is-info">
  <div style="text-align:center">
    <div *ngIf="message" class="hero is-danger">
      {{ message }}
    </div>
    <h1>
      <div *ngIf="standup">
        Standup for: {{ standup.date | date: 'mediumDate'}}
      </div>
      List of Progress Accomplishments:
    </h1>
  </div>
  <app-progress-list
    [standupId]="standupId">
  </app-progress-list>
  <hr>
  <div style='max-width: 75%'>
    <div *ngIf="!selectedProgress">
      test
    </div>

    <div>
      <form>
        Add User (by Username) <input [(ngModel)]="newUsername" name="addUserTitle" class="input"><br />
        <button class="button is-danger is-large" name="addUser" (click)="addUserToStandup()">Add User</button>
      </form>
    </div>
  </div>
</section>
