<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <img src="assets/img/standapp_logo.png">
    </a>
  </div>

  <div className="navbar-menu">
    <div class="container">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="about">About Us</a>
        <a class="navbar-item" routerLink="standups">Stand Ups</a>
        <a class="navbar-item" routerLink="contact">Contact</a>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger" routerLink="register">
                <strong>Sign Up!</strong>
              </a>
              <a class="button is-light" routerLink="login">
                Sign In!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
