<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <!-- Left Grouping -->
    <ol class="navbar-nav mr-auto">
      <li>
        <a class="navbar-link" routerLink="">
          <img style="height: 3em ;" src="assets/img/standapp_logo.png">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
      <li class="nav-item">
        <a *ngIf="loggedIn" class="nav-link" routerLink="teams">My Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ol>

    <!-- Right Grouping -->
    <ol class="navbar-nav ">
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="" routerLink="register">
          <strong>Sign Up!</strong>
        </a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">

        <a class="button is-light" routerLink="login">
          Sign In!
        </a>
      </li>

      <li class="nav-item navbar-text px-2" *ngIf="loggedIn">
        Welcome {{ userService.getUsername() }}!
      </li>

      <li class="nav-item" *ngIf="loggedIn">
        <button id="logoutButton" class="btn btn-secondary" (click)="logoutUser()">
          Log Out!
        </button>
      </li>
    </ol>

  </div>
</nav>
