# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/venv/
/backend/standapp_be/__pycache__/
*/--pycache--/
/frontend/node_modules/
/frontend/out-tsc/
/frontend/.gitignore

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
*.DS_Store
Thumbs.db
backend/.vscode/launch.json
backend/.vscode/settings.json
backend/db.sqlite3
frontend/db.sqlite3
.DS_Store
.DS_Store
.DS_Store
backend/standapp_be/app/migrations/__pycache__/0006_standup_user.cpython-37.pyc
.DS_Store
backend/standapp_be/app/__pycache__/__init__.cpython-37.pyc
backend/standapp_be/app/__pycache__/admin.cpython-37.pyc
backend/standapp_be/app/__pycache__/models.cpython-37.pyc
backend/standapp_be/app/__pycache__/serializers.cpython-37.pyc
backend/standapp_be/app/__pycache__/views.cpython-37.pyc
backend/standapp_be/app/migrations/__pycache__/__init__.cpython-37.pyc
backend/standapp_be/app/migrations/__pycache__/0001_initial.cpython-37.pyc
backend/standapp_be/app/migrations/__pycache__/0002_progress_user.cpython-37.pyc
backend/standapp_be/app/migrations/__pycache__/0003_auto_20190421_2020.cpython-37.pyc
backend/standapp_be/app/migrations/__pycache__/0004_auto_20190509_1156.cpython-37.pyc
backend/standapp_be/app/migrations/__pycache__/0005_auto_20190606_2130.cpython-37.pyc
