body > app-root > app-standup > section {
    height: 100vh;
    overflow: auto;
}

div.card {
    text-decoration: none;
    color: #000;
    background: #ffc;
    height: 20rem;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 5px grey;
}

.test {
    overflow: scroll;
}

.noHover {
    pointer-events: none;
}

.imageSelector {
    cursor: pointer;
}
