.background {
    background-image: url('/assets/img/backgroundApp.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.progress-card {
    height: 15rem;
    width: 20rem;
    overflow-y: scroll;
}

.test {
    overflow: scroll
}

.noHover{
    pointer-events: none;
}

.imageSelector
{
  cursor: pointer
}