body > app-root > app-standup > section {
    height: 100vh;
    overflow: auto;
}

#header {
    color: #f8f9fa;
    margin-top: auto;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid #9c9c9c;
    background-color: #6c757d;
    border-radius: 10px;
}

div.card {
    text-decoration: none;
    color: #000;
    background: #ffc;
    height: 25rem;
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 5px grey;
}

.test {
    overflow: scroll;
}

.noHover {
    pointer-events: none;
}

.imageSelector {
    cursor: pointer;
}

#progressModal > div > div > div.modal-body > div > form > textarea {
    width: 100%;
}