<section class="background">
  <div style="text-align:center">
      <h2>List of Progress Accomplishments:</h2>
  </div>

  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-4" *ngFor="let progress of progresses">
        <div class="card">
          <div class="card-content">
            <!--    <h2>id: {{ progress.id }}</h2>-->
            <div (click)="progressClicked(progress)">
              <h2>Accomplished: {{ progress.accomplished }}</h2>
              <h2>Working On: {{ progress.working_on }}</h2>
              <h2>Blockers: {{ progress.blocker }}</h2>
              <!--    <h2>User: {{ progress.user }}</h2>-->
              <!--    <h2>Standup: {{ progress.standup }}</h2>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  Accomplished <input [(ngModel)]="selectedProgress.accomplished"><br />
  Working On <input [(ngModel)]="selectedProgress.working_on"><br />
  Blocker <input [(ngModel)]="selectedProgress.blocker"><br />
  <button class="" *ngIf="selectedProgress.id" (click)="updateProgress()">Update</button>
  <button class="" (click)="createProgress()">Create</button>
  <button class="" *ngIf="selectedProgress.id" (click)="deleteProgress()">Delete</button>

</section>
