<section class="hero is-info">
  <div class="container">
    <div  style="text-align: center">
      <h1 class="title">Log In!</h1>
      <form>
        <div style="padding: 0% 25%;">
          <input [(ngModel)]="input.username" name="username" placeholder="Username" class="input">
          <br>
          <input [(ngModel)]="input.password" name="password" type="password" placeholder="Password" class="input">
          <br>
        </div>
        <br>
        <button id="login" (click)="onLogin()" class="bt btn-secondary">Log In!</button>
      </form>
      <br>
    </div>
  </div>
</section>
