<section class="hero is-info">
  <div style="text-align: center">
    <h1 class="title">Log In!</h1>
    <input [(ngModel)]="input.username" placeholder="Username" class="field">
    <br>
    <input [(ngModel)]="input.email" placeholder="Email" class="field">
    <br>
    <input [(ngModel)]="input.password" type="password" placeholder="Password" class="field">
    <br>
    <button (click)="onLogin()" class="button is-danger is-large">Log In!</button>
    <button (click)="onLogout()" class="button is-danger is-large">Log Out!</button>
  </div>
</section>
