.background {
    background-image: url("/assets/img/backgroundApp.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#about {
    background-color: #d3d3d3;
    text-align: center;
}

#aboutus {
    background-color: #d3d3d3;
}

img {
    border-radius: 100%;
}

ul {
    list-style-type: none;
}

.row .img-thumbnail {
    height: auto;
    width: 15rem;
    padding: 12px;
    margin-bottom: 10px;
    // border-radius: 50%;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
