<div>
  <section className="page-section" id="about">
    <div className="container">
      <div className="row justify-content-center">
        <div className="col-lg-12 text-center">
          <br />
          <img id="logo" src="assets/img/standapp_logo.png" height="auto" width="300">
          <h3 className="section-subheading text-muted">
            An App to help guide Scrums for personal use
          </h3>
          <br />
        </div>
      </div>
      <div className="row">
        <div className="col-lg-12">
          <ul className="timeline">
            <li>
              <div className="timeline-image">
                <img className="rounded-circle img-fluid" src="assets/img/build_team.png" alt="" />
              </div>
              <div className="timeline-panel">
                <div className="timeline-heading mr-5">
                  <br />
                  <h4 className="subheading">Build your own Team</h4>
                </div>
                <div className="timeline-body mr-5">
                  <p className="text-muted">
                    Create as many teams as you would like, adding members with shared details and Progresses
                  </p>
                </div>
              </div>
            </li>
            <li className="timeline-inverted">
              <div className="timeline-image">
                <img className="rounded-circle img-fluid" src="assets/img/track_progress.png" alt="" />
              </div>
              <div className="timeline-panel">
                <div className="timeline-heading ml-5">
                  <br />
                  <h4 className="subheading">Keep track of your Progress</h4>
                </div>
                <div className="timeline-body ml-5">
                  <p className="text-muted">
                    Keep track of your Accomplishments, current tasks and potential blockers so that you know how to prioritize your next steps.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div className="timeline-image">
                <img className="rounded-circle img-fluid" src={details_feature} alt="" />
              </div>
              <div className="timeline-panel">
                <div className="timeline-heading mr-5">
                  <br />
                  <h4 className="subheading">Manage your Team, Standups and Progresses</h4>
                </div>
                <div className="timeline-body mr-5">
                  <p className="text-muted">
                    Members of each team will be able to add, edit and delete either Teams, Standups or Progressses.
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <br />
        </div>
      </div>
    </div>
  </section>
</div>
<div id="aboutus">
  <div className="container">
    <div className="row justify-content-center">
      <div className="col-lg-12 text-center">
        <h2 id="team" className="section-heading text-uppercase text-center pt-4">The Development Team</h2>
      </div>
    </div>
    <div className="row justify-content-center pb-4">
      <div className="col-6 text-center">
        <img className="img-thumbnail" src="assets/img/aloretson.jpg" height="auto" width="200"
          alt="Andreas's headshot" />
        <h4>Andreas Lorentson</h4>
        <a href="https://github.com/alorents" target="blank" className="btn btn-lg btn-info">
          GitHub
        </a>
        <p className="text-justify m-3">

        </p>
      </div>
      <div className="col-6 text-center">
        <img className="img-thumbnail" src="assets/img/rmiyazaki.jpg" height="auto" width="200"
          alt="Ryuichi's headshot" />
        <h4>Ryuichi Miyazaki</h4>
        <a href="https://github.com/rmiyazaki6499" target="blank" className="btn btn-lg btn-info">
          GitHub
        </a>
        <p className="text-justify m-3">
          Ryuichi is a former Talent/HR professional transitioning into Software
          Engineering. Having been a technical recruiter for Software Engineering in Tokyo
          as well at FastSpring, a SaaS Company in Santa Barbara, he has been surrounded
          by people who code his whole career! He likes building web applications using
          Django and other frontend frameworks and is passionate about using technology to
          make work better.
        </p>
      </div>
    </div>
  </div>
</div>