<section class="background">
    <div style="text-align:center">
        <h1>{{ title }}</h1>
        <h2>List of Stand Ups for team {{ teamName }}:</h2>
    </div>

    <div class="container">
        <div class="columns is-multiline">
            <div *ngIf="standups">
                <div class="column is-4" *ngFor="let standup of standups">
                    <a routerLink="../../standup/{{ standup.id }}">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <div (click)="standupClicked(standup)">
                                    {{ standup.date | date: 'mediumDate'}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <button class="" *ngIf="selectedStandup.id" (click)="updateStandup()">Update</button>
    <button class="" (click)="createStandup()">Create</button>
    <button class="" *ngIf="selectedStandup.id" (click)="deleteStandup()">Delete</button>
</section>
