#standupTitle {
    display: flex;
    justify-content: center;
    position: relative;
}

#body {
    margin-bottom: 15rem;
}

#body > div > div > div {
    display: flex;
    justify-content: center;
}

#page > div:nth-child(2) {
    justify-content: center;
    margin-bottom: 4rem;
}

#page {
    height: 100vh;
    overflow: auto;
}

div.card {
    text-decoration: none;
    color: #000;
    background: #ffc;
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 5px grey;
}

.imageSelector {
    cursor: pointer;
}

#trash-icon {
    position: absolute;
    top: 1em;
    right: 1em;
    margin-left: auto;
}

#standupModal > div > div {
    width: 20rem;
}

#standupModal > div > div > div.modal-body > div > form > input {
    margin-bottom: 1em;
    width: 15rem;
}
