.background {
    background-image: url('/assets/img/backgroundApp.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#register .container #register-row #register-column #register-box {
    margin-top: 120px;
    max-width: 600px;
    height: auto;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }

  #register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
  }

  #register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;
  }

  #register-button {
    margin-top: 1em;
  }