<section class="hero is-info">
    <div style="text-align: center">
        <h1 class="title">Sign Up!</h1>
        <input [(ngModel)]="register.username" placeholder="Username" class="field">
        <br>
        <input [(ngModel)]="register.password1" type="password" placeholder="Password" class="field">
        <br>
        <input [(ngModel)]="register.password2" type="password" placeholder="Confirm Password" class="field">
        <br>
        <input [(ngModel)]="register.email" type="email" placeholder="Email Adress" class="field">
        <br>
        <button (click)="onRegister()" class="button is-danger is-large">Sign Up!</button>
    </div>
</section>