.background {
    background-image: url("/assets/img/backgroundApp.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#team-component {
    background: red($color: #000000);
}

#teamName {
    color: #f8f9fa;
    margin-top: auto;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid #9c9c9c;
    background-color: #6c757d;
    border-radius: 10px;
}

#back {
    width: 7rem;
    margin-top: 3em;
    margin-left: 3em;
}

body > app-root > app-team > section {
    height: 100vh;
    overflow: auto;
}

.imageSelector {
    cursor: pointer;
}

#addUser > input {
    margin-bottom: 1em;
    width: 15rem;
}
