<section class="background">
  <div class="container">
    <div *ngIf="team">
      <h2>Team Name: {{ team.team_name }}</h2>
      Users:
      <app-user *ngFor="let userId of team.users"
      [userId]="userId">
      </app-user>
    </div>
    <div>
      <form>
        Add User (by Username) <input [(ngModel)]="newUsername" name="addUserTitle" class="input"><br />
        <button class="" name="addUser" (click)="addUserToTeam()">Add User</button>
      </form>
    </div>
    <app-standup-list
    [teamId]="teamId"
    [teamUsers]="team.users">
    </app-standup-list>
  </div>

</section>
