<section class="background">
  <div class="container">
    <div id="team-component" class="container">
    <div *ngIf="team">
      <h2>{{ team.team_name }}</h2>
      Users:
      <div id="username" class="row is-4 px-auto">
        <span><app-user *ngFor="let userId of team.users" [userId]="userId"></app-user></span>
      </div>
    </div>
    <div>
      <form>
        Add User (by Username) <input [(ngModel)]="newUsername" name="addUserTitle" class="input"><br />
        <button class="" name="addUser" (click)="addUserToTeam()">Add User</button>
      </form>
    </div>
    </div>
  </div>
  <div>
    <button id="back" class="btn" routerLink="/teams">Back</button>
  </div>
  <app-standup-list [teamId]="teamId" [teamName]="team.team_name" [teamUsers]="team.users">
  </app-standup-list>

</section>