#username {
    color: #f8f9fa;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    border: 1px solid #9c9c9c;
    background-color: #007bff;
    border-radius: 10px;
}